@model Bookmarker.MVC.Models.CollectionViewModel


<h5>Are you sure you want to delete this collection?</h5>
<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model=>model.Created)
        @Html.HiddenFor(model=>model.Modified)
        @Html.HiddenFor(model=>model.OwnerId)
        @Html.HiddenFor(model=>model.Id)

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Private)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Private)
        </dd>
    </dl>
    
    @using (Html.BeginForm()) {
        @*@Html.AntiForgeryToken()*@
    
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-dark" /> 
            @Html.ActionLink("Back", "CollectionDetails", "Collections", new { id = Model.Id }, new { @class = "btn btn-dark" })
        </div>
    }
</div>
