@model Bookmarker.MVC.Models.BookmarkViewModel

<div>
    @if (Model.Name != null && Model.Name != "")
    {

        // show Name, or part of it, as link
        string linkText = @Model.Name.Substring(0, (Model.Name.Length > 40) ? 40 : Model.Name.Length);
        <text>
            @if (Model.Name.Length > 40)
            {
                
                <a href="@Url.Action("Details", "Bookmarks", new { id = Model.Id })")"><i style="color: black;" class="fa fa-info-circle fa-lg"></i></a>
                <a href="@Model.URL" target="_blank">@(linkText)...</a>
            }
            else
            {
                <a href="@Url.Action("Details", "Bookmarks", new { id = Model.Id })"><i style="color: black;" class="fa fa-info-circle fa-lg"></i></a>
                <a href="@Model.URL" target="_blank">@Model.Name</a>
            }
        </text>
    }
    else
    {
        // show part of URL as link
        <a href="@($"../../Bookmarks/Details/{Model.Id}")"><i style="color: black;" class="fa fa-info-circle fa-lg"></i></a>
        <a href="@Model.URL" target="_blank">@Model.URL.Substring(0, (Model.URL.Length > 20) ? 20 : Model.URL.Length)</a>
    }
</div>