@model Bookmarker.MVC.Models.CollectionViewModel

<div class="card">
    <a href="TODO">
        <div class="card-header" title="@Model.Description">
            @Html.RouteLink(Model.Name, new { action = "CollectionDetails", controller = "Collections", id = Model.Id }, new { @class = "btn btn-dark", target = "_blank" })
        </div>
    </a>
    <div class="card-body">
        @if(Model.Bookmarks != null)
        {
            @Html.Partial("_FiveBookmarks", Model.Bookmarks)
        }
        <p class="card-text text-muted">Created: @Model.Created</p>
    </div>
    <div class="card-footer">
        <div class="card-text">
            <div class="row">
                <div class="col-sm-9">
                    <i class="fa fa-thumbs-up fa-lg"></i>
                    <text>@Model.Rating</text>
                </div>
                <div class="col-sm-3 justify-content-end">
                @if(ViewBag.UserId == Model.OwnerId)
                {
                    <a href="@($"EditCollection/{Model.Id}")"><i class="fa fa-edit fa-lg"></i></a>
                    <a href=@($"DeleteCollection/{Model.Id}")><i class="fa fa-trash-o fa-lg"></i></a>
                }
                </div>
            </div>
        </div>
    </div>
</div>